{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

{% include 'accueil/menu.html.twig' %}

<div class="example-wrapper">
    <h1>Bienvenue sur la page d'accueil ! {{ controller_name }}</h1>

   
    
</div>
{% endblock %}
