{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
{% block style %}
<style>

</style>
{% endblock %}

<body>


    <div class="example-wrapper">
        <h1>Mon Agence Immobilière</h1>
    </div>

    <style>
        body {
            margin: 0;
            padding: 0;
            height: 100vh;
            background-image: url('{{ asset('images/image2.jpg') }}'); /* Remplacez 'background.jpg' par le chemin de votre image */
            background-size: cover;
            background-position: center;
        }
    </style>
</body>

{% endblock %}