body {
    /* Ajoutez l'URL de votre image ici */
    background: url('https://img.pikbest.com/wp/202345/villa-garden-a-majestic-contemporary-in-dark-wood-boasting-stunning-and-pool-3d-render_9615403.jpg!sw800') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  
    /* Créer un effet de fondu */
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari et Chrome */
    -o-animation: fadein 2s; /* Opera */
  }
  
  /* Animation de fondu */
  @keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
  
  /* Firefox */
  @-moz-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
  
  /* Safari et Chrome */
  @-webkit-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
  
  /* Opera */
  @-o-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
  
h1{
    color:#ffffff;
    text-align: center;
}


/**ACCUEIL**/

.carousel-item img {
    max-height: 40vh;
    object-fit: cover;
}


#accueil p {
    font-size: 18px;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
}

#accueil h1 {
    color: #ffffff;
}

#accueil h2 {
    font-size: 28px;
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
}

#accueil h4 {
    color: #a0b81d;
}

#accueil ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    color: #ffffff;
}

#accueil li {
    margin-bottom: 10px;
    text-align: center;
    color: #ffffff;
}

/**CONTACT**/
#formulaire {
    width: 50%; 
    margin: auto; 
    border-radius: 25px;
    border: 2px solid #ffffff; 
    padding: 20px;
    background-color: rgb(0, 0, 0);
}

#formulaire label{
    color: #ffffff;
    text-align: center;
}

#formulaire h1,h3{
    color: #ffffff;
    text-align: center;
}

/**navbar**/

#navbar a{
    color: #ffffff;
}
/* Styles généraux */


/**Style Biens**/

#biens h1{
    color: #fff;
}
/* Style pour le bouton "Détails" */
.details-btn {
    background-color: #007bff; /* Couleur de fond */
    color: #fff; /* Couleur du texte */
    border: none; /* Suppression de la bordure */
    padding: 8px 16px; /* Espacement intérieur */
    cursor: pointer; /* Curseur de souris */
    border-radius: 4px; /* Arrondi des coins */
}

.details-btn:hover {
    background-color: #0056b3; /* Couleur de fond au survol */
}

.btn-custom {
    background-color: orange;
    color: white;
}

/* List Bien */

.card-img-top {
    object-fit: cover; /* Redimensionne l'image pour remplir le conteneur tout en conservant son aspect. Les parties de l'image sont coupées si elles dépassent du conteneur */
    width: 100%; /* Largeur de l'image est fixée à 100% de la largeur du conteneur parent */
    height: 200px; /* Hauteur de l'image est fixée à 200px. Vous pouvez ajuster cette valeur en fonction de vos besoins */
}





