{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}




<style>
        body {
            margin: 0;
            padding: 0;
            height: 100vh;
            background-image: url('{{ asset('images/contact.jpg') }}'); /* Remplacez 'background.jpg' par le chemin de votre image */
            background-size: cover;
            background-position: center;
        }
    </style>
</body>


<form action="#" method="post">
    <label for="nom">Nom contact :</label><br>
    <input type="text" id="nom" name="nom"><br><br>
    
    <label for="prenom">Prénom contact :</label><br>
    <input type="text" id="prenom" name="prenom"><br><br>
    
    <label for="email">Email :</label><br>
    <input type="email" id="email" name="email"><br><br>
    
    <label for="sujet">Sujet :</label><br>
    <input type="text" id="sujet" name="sujet"><br><br>
    
    <label for="message">Message :</label><br>
    <textarea id="message" name="message" rows="4" cols="50"></textarea><br><br>
    
    <input type="submit" value="Envoyer">
</form>


{% endblock %}
