{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}




<style>
        body {
            margin: 0;
            padding: 0;
            height: 100vh;
            background-image: url('{{ asset('images/contact.jpg') }}'); /* Remplacez 'background.jpg' par le chemin de votre image */
            background-size: cover;
            background-position: center;
        }
    </style>
</body>
{% endblock %}
